/**
*NAV
*/

.navbar {
    text-transform: uppercase;
}

    .navbar .is-dark{
        background: #444;
    }

/**
*footer
*/

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}

/**
*Bulma overrides
*/

.input, .button {
    border-radius: 0;
}
